.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 90, 0.3);
}

.form-login {
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.form-login h5 {
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 20px !important;
}

.input {
  width: 100%;
  margin-bottom: 20px !important;
}

.button-send {
  width: 100%;
  outline: none !important;
  margin-bottom: 10px !important;
}

.msg-error {
  color: #F2453D;
  text-align: center;
}
