.dashboard-container {
  height: 100%;
  width: 100%;
}

.info-user {
  background-color: #2278CF;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: white;
}

.header {
  background-color: #2278CF;
  padding: 10px;
  position: relative;
  width: 100%;
}

.bt-signoff {
  position: absolute !important;
  right: 0px !important;
  color: white !important;
}

.bt-active {
  color: #2278CF !important;
  background-color: white !important;
}

.bt-tab {
  color: white !important;
  opacity: 0.5;
  margin: 0px 10px !important;
}

.bt-tab:hover {
  opacity: 1;
}

.content-view {
  height: calc(100vh - 56px - 29px);
  overflow: scroll;
}