.map-container {
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.ol-overlaycontainer-stopevent {
  display: none !important;
}

.container-controls {
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 90%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.1);
  padding: 10px;
  left: 10px;
  bottom: 30px;
}

.container-controls p {
  margin: 10px 0px;
  font-size: 12px;
}

.formControl {
  width: 100%;
}