.users-container {
  height: 100%;
  width: 100%;
}

.user-item {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-item p {
  margin: 0px;
  width: 50%;
}

.form-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  max-width: 300px;
}

.form-user p {
  margin: 10px;
  text-align: center;
}

.bt-fab {
  background-color: #2278CF !important;
  position: fixed !important;
  right: 10px;
  bottom: 20px;
  color: white !important;
  outline: none !important;
}

.input {
  width: 100%;
  margin-bottom: 20px !important;
}

.button-send {
  width: 100%;
  outline: none !important;
  margin-bottom: 10px !important;
}

.msg-error {
  color: #F2453D;
  text-align: center;
}